# work files
*~
*.diff
Build
_build
blib
t/perl5/[a-z]*
lib/Language/P/Keywords.pm
META.yml

# Misc
TAGS
cover_db

# Compilation byproducts
*.pt

# Generated parrot files, parrot symlink
bin/p_parrot
t/*/*.pbc
support/parrot/runtime/*.pbc
parrot