# work files
*~
*.diff
Build
_build
blib
t/perl5/[a-z]*
lib/Language/P/Keywords.pm
lib/Language/P/Opcodes.pm
lib/Language/P/Intermediate/SerializeGenerated.pm
META.yml
MYMETA.yml

# Misc
TAGS
cover_db

# Compilation byproducts
*.pt

# Generated parrot files, parrot symlink
bin/p_parrot
t/*/*.pbc
t/*/*.pir
t/*/*.ir
t/*/*.pb
t/*/*/*.pb
support/parrot/runtime/*.pbc
parrot